annotated-types==0.7.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2026.4.22
charset-normalizer==3.4.7
greenlet==3.5.0
idna==3.12
joblib==1.5.3
numpy==2.4.4
pandas==3.0.2
playwright==1.58.0
pmxt==2.31.1
pydantic==2.13.2
pydantic-core==2.46.2
pyee==13.0.1
python-dateutil==2.9.0.post0
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
soupsieve==2.8.3
threadpoolctl==3.6.0
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
